*
{
  margin: 0;
  padding: 0;
  font-family: Courier;
  box-sizing: border-box;
  color: #5377A6;
}

body
{
  background-color: #032859;
}

#wrapper
{
  max-width: 1000px;
  margin: 0 auto;
}

h2
{
  font-size: 30px;
  text-align: center;
  margin: 0 10% 20px 10%;
  padding-bottom: 15px;
  padding-top: 15px;
}

label
{
  font-size: 17px;
  text-align: center;
}

table, th, td 
{
  margin-top: 20px;
  border: 1px solid #5377A6;
  border-collapse: collapse;
}

th, td 
{
  padding: 15px;
}

.tableMain
{
  font-weight: 300px;
}

footer
{
  text-align: center;
}

input
{
    width: 190px;
    box-sizing: border-box;
    border: 1px solid #5377A6;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    background-position: 10px 10px;
    margin-top: 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    background-color: #032859;
    transition: background-color 1s;
}
input:hover
{
  background-color: #043B82;
}
input:focus
{
  background-color: #043B82;
}

button
{
  background-color: #5377A6;
  color: #032859;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;

  transition: opacity 1s;
}

button:hover
{
  opacity: 65%;
}